.login
{
    
    color:"white";
    height:100%;
}
.loginForm
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.loginInput
{
    margin-top:1cm;
    width:30%;
    height:1cm;
}
.loginBtn
{
    margin-top:1cm;
    width:10%;
    height:1cm; 
    border-radius:8px;
    background-color:#ffdd40;
    color:#1f5156;
    font-weight:bold;
    font-size:20px;
}
.registerclass
{
    color:red;
}